body {
	padding-top: 70px;
}

.navbar-brand {
	padding-top: 12px;
}

.table > thead > tr > th {
	font-weight: bold;
}

.col-actions {
	text-align: right;
}

.nav-tabs {
	margin-bottom: 15px;
}

.nav-tabs > li:first-child {
	margin-left: 15px;
}

/**
 * TEST TEST TEST
 */
 
p {
	text-align: justify;
}

.test {
	margin: 15px auto;
	padding: 15px;
	text-align: center;
	width: 80%;
}

.test > div {
	padding: 15px;
}

.test .levy {
	float: left;
	background: lightseagreen;
	width: 200px;
}

.test .pravy {
	margin-left: 200px;
	background: lightcoral;
}

.test .absolut {
	display: none;
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: 0;
	overflow: scroll;
	overflow-x: hidden;

	background: rgba(128, 128, 128, .5);
}

.btn-test {
	padding: 12px 24px;
}

.btn-test .glyphicon {
	padding-right: 20px;
	font-size: 50px;
	vertical-align: middle;
}

.test tr > *:last-child {
	min-width: 100px;
	width: 100px; 
	background: red;
}
